PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=qruvs_db
DB_USER=root
DB_PASSWORD=

JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=897904769156-josva0g6strd2rgp37kingfndelq2th7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:4000/api/v1/auth/google/callback
FRONTEND_URL=http://localhost:5173
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=10